<div fxLayout="row" fxFlexFill>
  <div class="sec1">
    <h3>Forgot Details</h3>
<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <div class="example-container" fxFlex.xs="55">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
    </div>

    <!-- <div class="example-container" fxFlex.xs="15">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </div> -->

    <div class="example-container" fxFlex.xs="15">
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Send Confirmation</button>
    </div>
  </form>
  </div>

</div>
