
<div class="">
  <div fxLayout="row"
       fxLayout.xs="column"        >
      <div class="sec1" fxFlex="100" fxHide.sm  fxHide.xs  >
        <div>
        <img   style="height:620px;width: 100%;" fxFlex="50"
         src="../../../assets/bg2.png">

        <div fxLayout="column" fxLayoutGap="7px" fxLayoutAlign="center center">
        <div>
          <button mat-raised-button color="primary" routerLink="/login" >Login</button>
        </div>
         <div>
          <button mat-raised-button color="primary" routerLink="/login/signup" >Register</button>
         </div> <div>
          <button mat-raised-button color="primary" routerLink="/login/account"> Account Opening</button>
         </div>
      </div>
    </div>
    </div>
  </div>

</div>
